// Variables
$cell-border-color = #000000
$cell-bg-color = #00FF00

// Styling
#root
    position relative
#tictactoe
    margin 50px auto
    width 600px
    height 600px
.cell
    height 196px
    width 196px
    background $cell-bg-color
    float left
    border 2px solid $cell-border-color
.text
    margin 30% auto
    text-align center
    font-size 4rem
    font-weight 500
.player
    padding-top 30px
    text-align center
    font-size 3rem
    #as-o
        display none
